<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Business.Common.SettingsConfigurationSection" allowDefinition="MachineToApplication" allowLocation="false"/>
  </configSections>
  <cachingConfiguration enabled="true" slidingExpiration="00:00:00" cacheExpiration="00:00:00"/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" path="/" loginUrl="Login.aspx" protection="Validation" timeout="120"/>
    </authentication>
    <machineKey validationKey="C2F7606DB1B31F6BC254CBE32F939DC3020907F764BF1E90E259F7CC0261E062E52BE2D4EF5CC422E86D12DE2A2B1868E65D5A95461EC81B49094E84B08F53D8" decryptionKey="06D66396CC6D750F0AE0B0E982E4B579EE3E68FC7017D071" validation="SHA1"/>
    <sessionState mode="InProc" timeout="240" cookieless="UseCookies"/>
    <customErrors mode="RemoteOnly" defaultRedirect="error.html"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="addonsConstr" connectionString="Server=103.21.58.193;Initial Catalog=aegis_addons_db;User ID=aegis_addons_db;Password=Dxp57_9x;Persist Security Info=False"/>
    <add name="ConStr" connectionString="Server=103.21.58.193;Initial Catalog=qualih13_test;User ID=qualih13_test;Password=P@ssw0rd@1234;Persist Security Info=False"/>
  </connectionStrings>
  <appSettings>
    <add key="HashKey" value="MAKV2SPBNI99212"/>
  </appSettings>
</configuration>